.homePage table {
  table-layout: fixed;
  font-family: Poppins-Regular;
  margin-bottom: 0;
  margin: auto;
}


.homePage thead tr th {
  /* background-color: #6c7ae0 !important; */
  /* line-height: 2; */
  /* color: #fff; */
  position: sticky;
  z-index: 3;
  top: 0;
}

.homePage table tbody td{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.homePage table td:hover{
	width: 200px;
	overflow: visible;
	white-space: pre-line;
	cursor:pointer;
}

.homePage .cm-preview-code-block {
  border: none !important;
}

.homePage .block-language-dataview {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  overflow: auto;
}

.markdown-preview-view th:first-child, .markdown-preview-view td:first-child {
  padding-left: 10px;
}

/* dashboard */

.homePage {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 20px !important;
}

.homePage .markdown-preview-section {
  max-width: 100%;
}

/* Title at top of the document */
.homePage .markdown-preview-section .title {
  top: 90px;
  position: absolute;
  font-size: 40pt !important;
  font-weight: bolder;
  letter-spacing: 8px;
}

.homePage h1 {
  border-bottom-style: dotted !important;
  border-width: 1px !important;
  padding-bottom: 3px !important;
}

.homePage div > ul:not(.is-mobile) {
  list-style: none;
  display: flex;
  /* column-gap: 50px; */
  /* row-gap: 30px; */
  flex-flow: row wrap;
  padding-inline: initial;
}

.homePage div > ul::before {
  display: none;
}


.homePage .list-bullet {
  display: none;
}

.homePage .collapse-icon {
  display: none;
}

.homePage div ul li p:not(.is-mobile)  {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--color-cyan);
  height: 40px;
  margin: 10px;
  padding: 5px;
  margin-block: 10px !important;
}

.homePage div > ul li:not(.is-mobile) {
  min-height: 30px;
}

.homePage div > ul > li:not(.is-mobile) {
  /* min-width: 250px; */
  width: 25%;
}

.homePage div > ul li a:not(.is-mobile) {
  color: var(--tx1)!important;
  border-radius: 6px;
  padding: 2px 6px;
}

.homePage div ul li ul:not(.is-mobile) {
  padding-inline: initial;
}

.homePage div ul li ul::before {
  display: none !important;
}

.homePage div ul li ul li:not(.is-mobile) {
  border-radius: 6px;
  padding: 2px 6px;
  margin: 1px 10px;
}

.homePage div ul li ul li:nth-of-type(2n-1):not(.is-mobile) {
  background-color: var(--color-purple);
  color: var(--tx1) !important;
}

.homePage div ul li ul li:nth-of-type(2n):not(.is-mobile) {
  background-color: var(--color-cyan);
  color: var(--tx1) !important;
}