.scopePage table {
  table-layout: fixed;
  font-family: Poppins-Regular;
  margin-bottom: 0;
  margin: auto;
}

.scopePage .table-view-th {
  /* color: #fff !important; */
}

.scopePage thead tr th {
  /* background-color: #6c7ae0; */
  /* line-height: 2; */
  /* color: #fff; */
  position: sticky;
  z-index: 3;
  top: 0;
}

.scopePage table tbody td{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.scopePage table td {
  /* border-bottom: 0.08rem solid #f2f2f2 !important; */
}

.scopePage table td:hover{
	/* width: 200px; */
	overflow: visible;
	white-space: pre-line;
	cursor:pointer;
}

.scopePage tbody tr:hover {
  /* background-color: #ececff;
  color: #403E10;
  font-weight: bold;
  
  transition-delay: 0s;
  transition-duration: 0.1s;
  transition-property: all;
  transition-timing-function: line; */
}

.scopePage .cm-preview-code-block {
  border: none !important;
}

.scopePage .block-language-dataview {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  overflow: auto;
}

.markdown-preview-view th:first-child, .markdown-preview-view td:first-child {
  padding-left: 10px;
}

/* dashboard */

.scopePage {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 20px !important;
}

/* Title at top of the document */
.scopePage .markdown-preview-section .title {
  top: 90px;
  position: absolute;
  font-size: 40pt !important;
  font-weight: bolder;
  letter-spacing: 8px;
}

.scopePage h1 {
  border-bottom-style: dotted !important;
  border-width: 1px !important;
  padding-bottom: 3px !important;
}